# Node.js padrão
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.pnpm-debug.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
dist/
build/
.vscode/

# Outros
/databaseAdmin/
/database/
naoimplementados.txt